.movie_details_text {
  font-weight: 500;
  color: #2a363b;
  font-size: 14px;
  margin-top: 10px;
}

.movie_details_link {
  margin-top: 15px;
  display: inline-block;
  text-decoration: none;
  color: #2a363b;
}

.movie_details_link:hover,
.movie_details_link:focus {
  color: #2196f3;
}
