.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.nf__img {
  display: block;
}

.nf__text {
  text-align: center;
}
